<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #009688;">
        <div class="container-fluid">
          <a class="navbar-brand me-5" href="{% url 'home' %}">Recipes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" id="navbarNavDropdown">
            <ul class="navbar-nav">

                {% for category in categories %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle color_text" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ category.title }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      {% for subcategory in category.category_set.all %}
                            <li><a class="dropdown-item" href="{{ subcategory.get_absolute_url }}">{{ subcategory.title }}</a></li>
                      {% endfor %}
                       <div class="dropdown-divider"></div>
                       <li><a class="dropdown-item" href="{{ category.get_absolute_url }}"><b>{{ category.title }}</b></a></li>
                    </ul>
                  </li>
                {% endfor %}
            </ul>

          <div class="container-fluid me-5">
            <a class="text-white me-5" href="{% url 'add_post' %}">Add recipe</a>
          </div>

          </div>
        </div>
      </nav>
</div>