@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

a {
    text-decoration: none;
    color: #60365e;
}

.card:hover{
    /*transform: scale(1.05);*/
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); !important;
}

.pagination > li > a
{
    background-color: white;
    color: #60365e;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #60365e;
    background-color: #eee;
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(153, 75, 127, 0.5);
}

.pagination > .active > a
{
    color: white;
    background-color: #60365e !Important;
    border: solid 1px #60365e !Important;
}

.pagination > .active > a:hover
{
    background-color: #60365e !Important;
    border: solid 1px #60365e;
}

.uncolored_img {
    filter: grayscale(100%);
    opacity: 0.1;
}

.wrap_images img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}



.navbar-brand {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    transition: 0.7s;
}

#navbarDropdownMenuLink {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#navbarDropdownMenuLink:hover {
    color: #004d40;
}

.custom_tag, .custom_btn_back {
    background-color: #994b7f;
    outline: none;
    color: #fff;
}
.custom_tag:hover, .custom_btn_back:hover {
    background-color: #60365e;
    color: #fff;
}
.custom_tag:active,
.custom_tag:focus,
.custom_btn_back:active,
.custom_btn_back:focus
{
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(153, 75, 127, 0.5);
}


/*pagination*/
@media (max-width: 635px) {
    #pagination_big
    {
        display: none;
    }
}
@media (min-width: 635px) {
    #pagination_small
    {
        display: none;
    }
}